Pinecone Vector Store.json
{
  "name": "Pinecone Vector Store",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1YxMnPNgz8pwq1TQY6yCTEdFBuWO3tHT-",
          "mode": "list",
          "cachedResultName": "BuyPower NG RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YxMnPNgz8pwq1TQY6yCTEdFBuWO3tHT-"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dcad654f-1fa8-441c-893a-6bf9c5550bf1",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8n3eElze7aSs7yTD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "658a35f6-01f1-4964-83a9-6e8e97051d8d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8n3eElze7aSs7yTD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "buypowerairag",
          "mode": "list",
          "cachedResultName": "buypowerairag"
        },
        "options": {
          "pineconeNamespace": "buypowerairag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "d312546d-282c-4e6a-8729-f39b0315de04",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "XvJNWm8lN39n77yy",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        240
      ],
      "id": "e220a9e2-e8f7-459c-8890-1de62891c5c1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "xcsmnM9kRPGqmyGc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "buypowerng"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        704,
        224
      ],
      "id": "667b12b4-6386-4131-8bd4-fd7ebcd51986",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 4000,
        "chunkOverlap": 400,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        896,
        384
      ],
      "id": "dcba38a8-9164-4a49-b9f9-e8e89bcca53f",
      "name": "Recursive Character Text Splitter1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7e81927-32e9-4744-871a-308faffa4b29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab917457231da9cc9529d243f8b8a2613b970d7b91bcdb7b0dae051edbf632fa"
  },
  "id": "QczQ1JQe88KSXYne",
  "tags": []
}